<head>

    <!-- Title -->

    <title>Manage Institute</title>

</head>

<body>
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-40">

                <div class="col-md-12">
                    <h2 class="margin-bottom-30">Link Institute and Degree</h2>
                    <!-- Accordion -->
                    <!-- Tab v3 -->
                    <div class="row tabs">
                        <div class="col-sm-2">
                            <ul class="nav nav-pills nav-stacked">
                                
                               
                                <li>
                                   
                                </li>
                                <li>
                                   
                                </li>

                            </ul>
                        </div>
                        <!-- Disclaimer -->
                        <div class="col-sm-7">
                            <div class="tab-content">
                                <form class="form-horizontal" action="/Admin/linkDegreeInstitute" method="post">
                                    <fieldset>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="name">Name</label>
                                            <div class="col-md-9">
                                                <input name="instituteLink" type="text" placeholder="Institute Url" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="name">Degree</label>
                                            <div class="col-md-9">
                                                <select name="degreeLink" class="form-control">
                                                    <option>Select Degree </option>
                                                    <option>Chemical Engineering</option>
                                                    <option>Mechanical Engineering</option>
                                                    <option>Civil Engineering</option>
                                                    <option>Computer Engineering</option>
                                                    <option>Electrical Engineering</option>
                                                    <option>Petrolium and Gas Engineering</option>
                                                    <option>Textile Engineering</option>
                                                    <option>Industry and Manufacturing Engineering</option>
                                                    <option>Environmental Engineering</option>
                                                    <option>BS (Physics)</option>
                                                    <option>BS (Mathematics)</option>
                                                    <option>BS (Chemistry)</option>
                                                    <option>BS (Computer Science)</option>
                                                    <option>BS (Information Technology)</option>
                                                    <option>BS (Software Engineering)</option>
                                                    <option>BS (Space Sciences)</option>
                                                    <option>BS (High Energy Physics)</option>
                                                    <option>BS (Computational Physics)</option>
                                                    <option>BS (English)</option>
                                                    <option>BS (Political Science)</option>
                                                    <option>BS (Communication Studies)</option>
                                                    <option>BS (Philosophy)</option>
                                                    <option>BS (Geography)</option>
                                                    <option>BBA</option>
                                                    <option>BS (Statistics)</option>
                                                    <option>B.Com</option>
                                                    <option>BBIT(Hons)</option>
                                                    <option>BSc (Accounting)</option>
                                                    <option>BBS (Bacheler of Business Studies)</option>
                                                    <option>BS (Economics)</option>
                                                    <option>BS (Mass Communication)</option>
                                                    <option>MBBS</option>
                                                    <option>D-Pharmacy</option>
                                                    <option>BS (Botany)</option>
                                                    <option>BS (Zoology)</option>
                                                    <option>BS (Biochemistry)</option>
                                                    <option>BS (Physiotherapy)</option>
                                                    <option>Dr of Nutrition Science</option>
                                                    <option>BS (Nursing)</option>
                                                    <option>BS (Microbiology)</option>
                                                    <option>BS (Agriculture)</option>
                                                    <option>BS (Biotechnology)</option>
                                                    <option>BS (Psychology)</option>
                                                    <option>BS (Biogenetics)</option>
                                                    <option>BDS (Bachelor of Dental Surgery)</option>
                                                    <option>BS (Doctor of Vaterinary Medicine)</option>
                                                    <option>BS (Environmental Science)</option>
                                                    <option>LLB (5 Years)</option>
                                                    <option>BA (Journalism)</option>
                                                    <option>B.Architecture</option>
                                                    <option>BFA Painting</option>
                                                    <option>BA (Fine Arts)</option>
                                                    <option>BA (Hons)History</option>
                                                    <option>BFA Graphic Design</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 widget-right">
                                                <button type="submit" class="btn btn-default btn-md pull-right" style="background-color: #33747a; color: white">Link</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab v3 -->
            </div>
        </div>
    </div>
    </div>
</body>