<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Title -->
    <title>MAKE YOUR OWN WAY</title>

</head>
<body>




    <!-- === BEGIN CONTENT === -->
    <div id="slideshow" class="bottom-border-shadow">
        <div class="container no-padding background-white bottom-border">
            <div class="row">
                <!-- Carousel Slideshow -->
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <!-- Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>
                    <div class="clearfix"></div>
                    <!-- End Carousel Indicators -->
                    <!-- Carousel Images -->

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Images/slide1.jpg">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="carousel-caption">
                                        <table>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p><a href="#"></a></p></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p><a href="#"></a></p></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p><a href="#"></a></p></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="carousel-caption">
                                        <table>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p><a href="#" class="btn btn-lg"></a></p></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p><a href="#" class="btn btn-lg"></a></p></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p><a href="#" class="btn btn-lg"></a></p></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="carousel-caption">
                                        <table>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p><a href="#"></a></p></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p><a href="#"></a></p></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p><a href="#"></a></p></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Images/slide2.jpg">
                        </div>
                        <div class="item">
                            <img src="~/Images/slide3.jpg">
                        </div>
                        <div class="item">
                            <img src="~/Images/slide4.jpg">
                        </div>
                    </div>
                    <!-- End Carousel Images -->
                    <!-- Carousel Controls -->
                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span><i class="fa fa-chevron-left"></i></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span><i class="fa fa-chevron-right"></i></span>
                    </a>
                    <!-- End Carousel Controls -->
                </div>
                <!-- End Carousel Slideshow -->
            </div>
        </div>
    </div>

    <div id="content" class="bottom-border-shadow">
        <div class="container background-white bottom-border">
            <div class="row margin-vert-30">
                <!-- Main Text -->
                <div class="col-md-6">
                    <h2>Welcome to <class style="color:#33747a">Make Your Own Way</h2>
                    <p>
                        Make Your Own Way will be a web based solution which will be used to suggest best
                        fields to students on the basis of their previous study record, interest, skills and
                        quizzes. It will also suggest best institute according to their field. And we shall
                        provide admission notification of institutes and handle the queries regarding
                        admissions and avail guidance posted by the students.
                    </p>
                    <h2>What is Our Ambition?</h2>
                    <p>
                        Help you figure out who you are and what you want out of your education and your life.
                        Be someone for you to talk to about your thoughts, ideas, feelings, and concerns about your educational choices, who will help you sort out, organize, and make sense of your thoughts and feelings.
                        Help you to determine next steps and develop a plan to achieve your goals.
                    </p>




                </div>
                <!-- End Main Text -->
                <div class="col-md-6">
                    <h3 class="padding-vert-10">Key Features</h3>
                    <p>This Website aims at fulfilling the Goals & Objectives as mentioned below.</p>
                    <ul class="tick animate fadeInRight">
                        <li>Roadmap</li>
                        <li>Assessment</li>
                        <li>Merit Calculator</li>
                        <li>Admission Notification</li>
                        <li>Fields Information</li>
                        <li>Institutes Information</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio -->
    <div id="portfolio" class="bottom-border-shadow">
        <div class="container bottom-border">
            <div class="row padding-top-40">
                <ul class="portfolio-group">
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
                        <a href="~/Home/merit_calculator">
                            <figure class="animate fadeInLeft">
                                <img alt="image1" src="~/Images/image1.jpg">
                                <figcaption>
                                    <h3>Merit Calculator</h3>
                                    <span>Merit calculator for different universities is given so that you can easily calculate merit.</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
                        <a href="#">
                            <figure class="animate fadeInRight">
                                <img alt="image6" src="~/Images/image6.jpg">
                                <figcaption>
                                    <h3>Institutes Information</h3>
                                    <span>
                                        Information of best Universities both in public and private sector are
                                        given.
                                    </span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
                        <a href="~/Home/roadmap">
                            <figure class="animate fadeInRight">
                                <img alt="image3" src="~/Images/image3.jpg">
                                <figcaption>
                                    <h3>Roadmap</h3>
                                    <span>Proper Road map describing as many fields as possible is given.</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
                        <a href="#">
                            <figure class="animate fadeInLeft">
                                <img alt="image4" src="~/Images/image4.jpg">
                                <figcaption>
                                    <h3>Assessment</h3>
                                    <span>
                                        You can give skill based quizzes to analyse the percentage of
                                        a particular skill required for a field.
                                    </span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
                        <a href="#">
                            <figure class="animate fadeIn">
                                <img alt="image5" src="~/Images/image5.jpg">
                                <figcaption>
                                    <h3>Fields Information</h3>
                                    <span>
                                        Information of offered Degrees/Fields of best Universities both in public and private sector are
                                        given.
                                    </span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
                        <a href="~/Home/admission_notices">
                            <figure class="animate fadeIn">
                                <img alt="image2" src="~/Images/image2.jpg">
                                <figcaption>
                                    <h3>Admission Notification</h3>
                                    <span>
                                        Admission notifications from newspapers and
                                        websites of the universities are availabale at one place.
                                    </span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->

                </ul>
            </div>
        </div>
    </div>
    <!-- End Portfolio -->
    <!-- === END CONTENT === -->


</body>
</html>
