<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <form action="/Home/quizhere" method="post">
            <div class="row margin-vert-30">
                <!-- Main Column -->
                <div class="col-md-12">
                    <h2>Interest</h2><h3>(Select Some of them)</h3><br>

                    <div class="container">
                        <div class="row">
                            <label class="btn btn-primary">Calculations <input name="inter" type="checkbox" id="primary" value="Calculations" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Management <input name="inter" type="checkbox" id="primary" value="Management" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Political and History (learner or writer) <input name="inter" type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <br /> <br /> <label class="btn btn-primary">Vast communication and social Links <input name="inter" type="checkbox" value="Vast communication and social Links " id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Photography and Drawing <input name="inter" type="checkbox" id="primary" value="Photography and Drawing" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Technical and Problem Solving <input name="inter" type="checkbox" id="primary" value="Technical and Problem Solving " class="badgebox"><span class="badge">&check;</span></label>
                            <br /><br />   <label class="btn btn-primary">Compound and matter Searches <input name="inter" type="checkbox" id="primary" value="Compound and matter Searches" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Scientific Studies <input name="inter" type="checkbox" id="primary" value="Scientific Studies " class="badgebox"><span class="badge">&check;</span></label><br><br>
                            <label class="btn btn-primary">Nature, Animals and Human beings Serving <input name="inter" value="Nature, Animals and Human beings Serving " type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>  <h2>Hobby</h2><h3>(Select Some of them)</h3><br>
                    <div class="container">
                        <div class="row">
                            <label class="btn btn-primary">Adventure, Action  figure<input name="hob" value="Adventure, Action  figure" type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Animal case, Animal training <input name="hob" value="Animal case, Animal training" type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Building & Machines <input name="hob" type="checkbox" value="Building & Machines" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <br /><br />    <label class="btn btn-primary">Language (club, ethics, heritage):  <input name="hob" value="Language (club, ethics, heritage):" type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Computer/ social Network <input name="hob" type="checkbox" value="Computer/ social Network" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Problem Solving & strategy <input name="hob" type="checkbox" value="Problem Solving & strategy" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <br /><br /> <label class="btn btn-primary">Gardening <input name="hob" type="checkbox" id="primary" value="Gardening" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Photographic, Painting<input name="hob" type="checkbox" value="Photographic, Painting" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Practical Things, Scientific Studies <input name="hob" value="Practical Things, Scientific Studies" type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <br /><br />         <label class="btn btn-primary">Caring, Serving Nature <input type="checkbox" name="hob" value="Caring, Serving Nature" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                            <label class="btn btn-primary">Presentation Skills, Saving Nature<input name="hob" value="Presentation Skills, Saving Nature" type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>

                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-lg-8"></div>


                    <div class="col-lg-4 text-right">
                        <button class="btn btn-primary" type="submit">Next</button>
                    </div>
                </div>
                <!-- End Main Column -->
            </div>
        </form>
    </div>
</div>
<!-- === END CONTENT === -->
